{% extends "base.html.twig" %}
{% block body %}

{% set test = 0 %}
{% set correct = [] %}
{% for val in valide  %}
    {% set correct = correct|merge([val.reponse]) %}
{% endfor %}

{% for questions in question %}
    {% set test = test + 1 %}

    {% if questions.id == app.request.get('ques') %}
        <div class = 'py-5'>
            <h3>{{ test }} ) {{ questions.question }}</h3>
        </div>

        {% if test < 11 %}
            {% if post is defined %}
                    {% if post == correct[0] %}
                        {% if app.request.get('value') is empty %}
                            <form action="{{ path('categorie', {'id': app.request.get('id'), 'ques': ques + 1, 'value': 1, 'victoire':  app.request.get('victoire')}) }}" method="POST">
                        {% else %}
                            {% if test == 10 %}
                                {% if app.request.get('value') > 7 %}
                                    <form action="{{ path('home', {'victoire':  app.request.get('victoire') + 1 }) }}" method="POST">
                                {% else %}
                                    <form action="{{ path('home', {'victoire':  app.request.get('victoire') }) }}" method="POST">
                                {% endif %}
                            {% else %}
                                <form action="{{ path('categorie', {'id': app.request.get('id'), 'ques': ques + 1, 'value': app.request.get('value') + 1, 'victoire':  app.request.get('victoire') }) }}" method="POST">
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <form action="{{ path('categorie', {'id': app.request.get('id'), 'ques': ques + 1, 'value': app.request.get('value'), 'victoire':  app.request.get('victoire') }) }}" method="POST">
                    {% endif %}
            {% else %}
                {% if app.request.get('value') is empty %}
                    <form action="{{ path('categorie', {'id': app.request.get('id'), 'ques': ques, 'value': 0, 'victoire':  app.request.get('victoire') }) }}" method="POST">
                {% else %}
                    <form action="{{ path('categorie', {'id': app.request.get('id'), 'ques': ques, 'value': app.request.get('value'), 'victoire':  app.request.get('victoire') }) }}" method="POST">
                {% endif %}
            {% endif %}
        {% else %}
            <form action="{{ path('home') }}" method="POST">
        {% endif %}

        <div class = 'pl-3'>
            {% if post is defined %}
                {% if post == correct[0] %}
                    <div class = 'py-5'>
                        <h3>Bonne réponse</h3>
                    </div>
                {% else %}
                    <div class = 'py-5'>
                        <h3>La bonne réponse était "{{ correct[0] }}"</h3>
                    </div>
                {% endif %}
            {% else %}
                {% for reponses in reponse %}

                    <div class="form-group row">
                        <div>
                            <input type="radio" name="reponse" value="{{ reponses.reponse }}">
                            <label for="huey">{{ reponses.reponse }}</label>
                        </div>
                    </div>
                    
                {% endfor %}
            {% endif %}
        </div>

            <div class="form-group row mb-0">
                <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-primary">
                        {% if post is defined %}
                            Next
                        {% else %}
                            Submit
                        {% endif %}
                    </button>
                </div>
            </div>
        </form>

        <h1>{{ app.request.get('value') }} / {{ question|length }}</h1>

    {% endif %}
{% endfor %}

{% endblock %}